.actor {
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  width: 11rem;

  .iconContainer {
    display: block;
    width: 100%;
    border-radius: 50%;
  }
  h3 {
    color: #9e9e9e;
    margin: 1rem 0;
  }
}

@media screen and(max-width: 800px) {
  .actor {
    width: 8rem;
  }
}
