*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-green: #00d277;
  --color-red: #ff424f;
  --color-blue-light: #e5ecf8;
  --color-grey: #f4f2f2;
  --color-grey-dark-medium: #dddddd;
  --color-grey-dark: #85898e;
  --box-shadow: rgba(77, 140, 245, 0.6) 0px 10px 53px 0px;
  --font-primary: 'Manrope', sans-serif;
  --font-oswald: 'Oswald', sans-serif;
  --bp-large: 62.5em;
  --bp-medium: 50em;
  --bp-small: 37.5em;
}

html {
  /* this defines what 1 rem is  */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* react-tabs */
.react-tabs {
  width: 80%;
  margin: 0 auto;
}

.react-tabs__tab-list {
  display: flex;
  justify-content: space-around;
  border-bottom: 0 !important;
}

.react-tabs__tab {
  width: 25%;
  text-align: center;
  font-size: 1.6rem;
  padding: 2rem 2rem !important;
  background: transparent;
}

.react-tabs__tab--selected {
  background: transparent !important;
  border: none !important;
  color: white !important;
  box-shadow: 0 4px var(--color-red);
}
